<launch>
  <arg name="sim_frequency" default="50" />

  <param name="robot_description"
    textfile="$(find iai_table_robot_description)/robots/ur5_table.urdf" />

  <node pkg="pbsbtest" type="force_sensor_test.py" name="force_test" output="screen" args="0.01">
    <remap from="~joint_trajectory" to="/commands/joint_trajectory"/>
    <remap from="~wrist_wrench" to="/sensors/wrist_3_joint"/>
  </node>

  <node pkg="iai_bullet_sim" type="realtime_simulator.py" name="simulator" output="screen">
    <rosparam param="/sim_config" command="load" file="$(find pbsbtest)/config/ur5_bolt_config.yaml" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher">
  </node>

  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" />
</launch>